list
{% for album in albums %}
<div class="col-sm-4 text-center">
	<a href="/">
		<img class="img-responsive" src="{{ album.picture }}" alt="{{ album.title }}">
	</a>
	<h3><a href="/">{{ album.title }}</a></h3>
	{% for artist in album.artists.all %}
	<p>{{ artists.name }}</p>
	{% endfor %}
</div>
{% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
{% endfor %}